---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.io/forecast/API_KEY/-33.857444,151.238823,123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"-102868148"'
      x-response-time:
      - 113ms
    body:
      encoding: UTF-8
      string: '{"latitude":-33.857444,"longitude":151.238823,"timezone":"Australia/Sydney","offset":11,"currently":{"time":123456789,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","precipType":"rain","temperature":68.47,"dewPoint":58.01,"windSpeed":1.87,"windBearing":186,"cloudCover":0.25,"humidity":0.7,"pressure":1013.1,"visibility":10},"hourly":{"summary":"Partly
        cloudy throughout the day.","icon":"partly-cloudy-day","data":[{"time":123426000,"summary":"Clear","icon":"clear-night","precipType":"rain","temperature":64.24,"dewPoint":53.66,"windSpeed":6.74,"windBearing":299,"cloudCover":0,"humidity":0.69},{"time":123429600,"summary":"Clear","icon":"clear-night","precipType":"rain","temperature":63.69,"dewPoint":53.33,"windSpeed":4.99,"windBearing":269,"cloudCover":0,"humidity":0.69},{"time":123433200,"summary":"Clear","icon":"clear-night","precipType":"rain","temperature":63.49,"dewPoint":52.61,"windSpeed":3.49,"windB[...]
